body {
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
  background: url(noise.png) #d7d7d7;
}

.logo.bg {
  display: block;
  width: 800px; height: 200px;
  background-size: 80%;
  right: 20px;
  bottom: -37px;
  position: fixed;
  opacity: .4;
  background: url(gf_logo_black.svg) no-repeat right bottom;
}

h1 {
  font-weight: bold;
  font-size: 3em;
  margin: 0 10px;
}

h2 {
  font-weight: 500;
  color: #454545;
  margin: 0 10px;
}

h3 {
  margin: 8px 0;
}

p {
  color: #353535;
  font-size: .9em;
  padding: 0;
  margin: 0;
}

.details {
  background-color: rgba(255, 255, 255, 0.79);
  padding: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.86);
  position: relative;
}

.icon {
  position: absolute;
  width: 24px; height: 100%;
  background-size: 100%;
  background: no-repeat center center;
  right: 30px;
  top: 5px;
}

.icon.cal {
  background-image: url(cal.svg);
}

.icon.code {
  background-image: url(code.svg);
}

.icon.block {
  background-image: url(block.svg);
}

ul {
   list-style: none;
   padding: 0;
   line-height: 0;

   -webkit-column-count: 5;
   -webkit-column-gap:   0px;
   -moz-column-count:    5;
   -moz-column-gap:      0px;
   column-count:         5;
   column-gap:           0px;

}

ul figure h3, ul figure p  {
  padding: 10px;
}

ul figure {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;

  padding: 0;
  position: relative;
  z-index: 10;
  
  margin: 10px;
  background-color: #ffffff;
  border: 4px solid rgba(255, 255, 255, 0.53);
  -moz-box-shadow: inset -4px 0 0 #ffffff;
  -webkit-box-shadow: inset -4px 0 0 #ffffff;
  box-shadow: inset -4px 0 0 #ffffff;
}

ul figure img {
  z-index: 10;
}

ul figure figcaption {

  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0;
  line-height: 1.1em;
  z-index: 20;
  border-top: 1px solid rgba(255, 255, 255, 0.59);
  -moz-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.28);
  -webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.28);
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.28);
  color: #252525;
  background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 100%) rgba(255, 255, 255, 0.37);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.55)), to(rgba(255, 255, 255, 0))) rgba(255, 255, 255, 0.37);
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul figure:hover figcaption {
  opacity: 0;
}

@media (max-width: 1200px) {
  ul {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  ul {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  ul {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  ul {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}